<head>
    <meta charset="UTF-8">
    <title>Area of a Triangle</title>
</head>
<body>
    <h1>Triangular Area Generator</h1>

    <form action="/areaOfTriangle" method="post">
        <label for="input_base">Enter a base:</label>
        <input type="text" id="input_base" name="base"><br><br>
        <label for="input_height">Enter a height:</label>
        <input type="text" id="input_base" name="height"><br><br>
        <input type="submit" value="Calculate">
    </form>

    {% if result %}
    <p>Triangular Area: {{ result }}</p>
    {% endif %}
</body>
</html>
